
pre {
    margin: auto;
    width: 60vw;
    text-wrap: wrap;
    font-size: large;
}

h1 {
    color: var(--main-color);
    font-size: x-large;
}

.featureText {
    width: 99vw;
    color: var(--main-color);
    font-size: xx-large;
    text-align: center;
    margin: 40px auto;
}
