@import './reset.css';

:root {
  --body-color: #35353E;
  --border-color: #EEEEEE;
  --bg-color: #2A2A40;
  --text-color: #EEEEEE;
  --primary-color: #202035;
  --hover-color: #202035;
}

#app {
  background-color: var(--body-color);
  color: var(--text-color);
  display: flex;
  height: calc(100vh - 4rem);
  margin: 0 auto;
  padding: 1rem;
  font-weight: normal;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

.hidden { display: none !important; }

